<launch>
    <param name="robot_description" textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_velodyne" args=" 0 0 1.5 0 0 0 base_link velodyne 1"/>
    <node pkg="tf" type="static_transform_publisher" name="world_map" args=" 0 0 0 0 0 0 world map 1"/> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_baselink" args=" 0 0 0 0 0 0 odom base_link 1"/> -->


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find cartographer_ros)/configuration_files
            -configuration_basename backpack_2d.lua"
        output="screen"> 
      <remap from="scan" to="/scan" />
      <!-- <remap from="points2" to="/points_raw"/> -->
      <remap from="imu"     to="/data_raw"/>
    </node>
  
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    

</launch>