<launch>
    <arg name="debug"            default="false" />
    <arg name="bag_file"         default="$(env HOME)/bag/lidar_imu.bag" />
    <arg name="map_file_2d"      default="$(find autolabor_navigation_launch)/map/demo.yaml"/>
    <arg name="map_file_3d"      default="$(find autolabor_navigation_launch)/map/demo.pcd"/>

  
    <group if="$(arg debug)">
      <param name="use_sim_time" value="true"/>
      <!-- Static transtorm -->
       
      <node pkg="rosbag" type="play" name="rosbag_play_node"
          args="--clock $(arg bag_file)" >
      </node>
    <!--hector server traking path-->
      <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_node">
        <remap from="trajectory" to="autolabor_odom" />
        <param name="target_frame_name" type="string" value="/map" />
        <param name="source_frame_name" type="string" value="/base_link" />
        <param name="trajectory_update_rate" value="10" />
        <param name="trajectory_publish_rate" value="10" />
      </node>
  
    </group>

     <!--velodyne launch-->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="frame_id" default="velodyne" />
        <arg name="device_ip" default="" />
        <arg name="max_range" default="100.0" />
        <arg name="min_range" default="0.4" />
        <arg name="rpm" default="600.0" />
        <arg name="gps_time" default="false" />
        <arg name="laserscan_resolution" default="0.007" />
    </include>

     <!--imu -->
    <node pkg="wit_imu_driver" type="wit_imu_driver" name="wit_imu_driver">
      <param name="frame_id" value="imu_link"/>
      <param name="device"   value="/dev/ttyUSB0"/>
      <param name="baud"     value="9600"/>
    </node>

     <!--pcl ros 3d map-->
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="points_map_publish" output="screen"
       args="$(arg map_file_3d)">
          <param name="frame_id" value="world" />
          <param name="interval" value="0.5" /> 
          <remap from="cloud_pcd" to="points_map" />
    </node>

     <!--map server 2d map-->
    <!-- <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_file_2d)">
          <param name="frame_id" value="map"/>
    </node> -->
    
     <!--ndt matching-->
    <include file="$(find autolabor_navigation_launch)/launch/localization_lab314.launch">
      </include>

     <!--move base-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/move_base_params.yaml" command="load" />
      <!--costmap-->
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/global_costmap_params.yaml" command="load" />
      <!--path plan-->
      <!-- <rosparam file="$(find autolabor_navigation_launch)/navigation_param/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/teb_local_planner_params.yaml" command="load" ns="TebLocalPlannerROS"/> -->
      <remap from="/cmd_vel" to="/yocs_cmd_vel_mux/input/navigation"/>
     </node>
  
     <!--rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autolabor_navigation_launch)/rviz/navigation.rviz" />

  
  </launch>