<launch>

    <arg name="center_camera"              		default="center_t265"/>
    <arg name="left_camera"              		default="left_d435i"/>
    
    <arg name="rtabmap_args"                    default="-- delete_db_on_start"/>	
    <arg name="database_path"                   default="~/.ros/floor3-database.db"/>
    <arg name="cfg"                             default=""/>
    <arg name="odom_topic"                      default="/$(arg center_camera)/odom/sample"/>

    <arg name="tf_prefix_cameraC"               default="$(arg center_camera)"/>
    <arg name="tf_prefix_cameraL"               default="$(arg left_camera)"/>


    <!-- camera mynt launch node -->
    <include file="$(find mynt_eye_ros_wrapper)/launch/mynteye.launch">

    </include>

    <!-- camera launch node -->
    <include file="$(find control_mode)/launch/camera/multiple_rs_camera.launch"> 			
        <arg name="serial_no_cameraC"    			default="0000909212110738"/>
        <arg name="serial_no_cameraL"    			default="843112072353"/>
        <arg name="center_camera"              		default="$(arg center_camera)"/>
        <arg name="left_camera"              		default="$(arg left_camera)"/>
        <arg name="center_camera_enable"            default="true"/>
        <arg name="left_camera_enable"              default="true"/>
    </include>

     <!--velodyne launch-->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="frame_id" default="velodyne" />
        <arg name="device_ip" default="" />
        <arg name="max_range" default="100.0" />
        <arg name="min_range" default="0.4" />
        <arg name="rpm" default="600.0" />
        <arg name="gps_time" default="false" />
        <arg name="laserscan_resolution" default="0.007" />
    </include>

    <!--pcl ros 3d map-->
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="points_map_publish" output="screen"
       args="$(arg map_file_3d)">
          <param name="frame_id" value="world" />
          <param name="interval" value="0.5" /> 
          <remap from="cloud_pcd" to="points_map" />
    </node>

     <!--map server 2d map-->
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_file_2d)">
          <param name="frame_id" value="map"/>
    </node>

    <!-- camera localiztion  node -->
    <include file="$(find control_mode)/launch/rtab/rtab_slam.launch">
        <arg name="localization"        value="true"/>
        <arg name="rtabmap_args"        value=""/>
        <arg name="database_path"       value="$(arg database_path)"/>
        <arg name="cfg"                 value="$(arg cfg)"/>
        <arg name="depth_topic"         value="/$(arg left_camera)/aligned_depth_to_color/image_raw"/>
        <arg name="rgb_topic"           value="/$(arg left_camera)/color/image_raw"/>
        <arg name="camera_info_topic"   value="/$(arg left_camera)/color/camera_info"/>
        <arg name="queue_size"          value="200"/>
        <arg name="odom_topic"          value="$(arg odom_topic)"/>
        <arg name="frame_id"            value="$(arg left_camera)_link"/>

    </include>

    <!-- planner node -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="global_costmap/global_frame"      value="map"/>
    <param name="global_costmap/robot_base_frame"  value="t265_pose_frame"/>
    <param name="local_costmap/robot_base_frame"   value="t265_pose_frame"/>
    <param name="local_costmap/global_frame"       value="t265_odom_frame"/>
    <remap from="/map"                             to="/rtabmap/grid_map"/>
    <remap from="/cmd_vel"                         to="/yocs_cmd_vel_mux/input/navigation"/>
    
    <rosparam file="$(find control_mode)/config/autolabor/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find control_mode)/config/autolabor/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find control_mode)/config/autolabor/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find control_mode)/config/autolabor/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find control_mode)/config/autolabor/move_base_params.yaml" command="load" />
    <rosparam file="$(find control_mode)/config/autolabor/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find control_mode)/config/autolabor/global_planner_params.yaml" command="load" />
    </node>

</launch>