<launch>
    <arg name="debug"            default="true" />
    <arg name="bag_file"         default="$(env HOME)/bag/localizer_test.bag" />
  
    <group if="$(arg debug)">
      <param name="use_sim_time" value="true"/>
      <!-- Static transtorm -->
       
      <node pkg="rosbag" type="play" name="rosbag_play_node"
          args="--clock $(arg bag_file)" >
      </node>
  
      <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_node">
        <remap from="trajectory" to="autolabor_odom" />
        <param name="target_frame_name" type="string" value="/map" />
        <param name="source_frame_name" type="string" value="/base_link" />
        <param name="trajectory_update_rate" value="10" />
        <param name="trajectory_publish_rate" value="10" />
      </node>
  
    </group>
  
    <!--node pkg="pev_map_server" type="pcd_map_loader" name="pcd_map_loader_node" output="screen">
      <param name="config_file" type="str" value="$(arg map_file)" />
      <remap from="map_cloud" to="points_map" />
    </node-->
  
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_map_publish" output="screen"
       args="$(env HOME)/map/test.pcd">
          <param name="frame_id" value="map" />
          <param name="interval" value="0.5" /> 
          <remap from="cloud_pcd" to="points_map" />
    </node>

    <include file="$(find autolabor_navigation_launch)/launch/localization_lab314.launch">
    </include>
  
     <!--launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_localizer)/rviz/ndt_matching.rviz" />

     
  
  </launch>