<launch>
    <arg name="debug"            default="true" />
    <arg name="bag_file"         default="$(env HOME)/bag/localizer_test.bag" />
  
    <group if="$(arg debug)">
      <param name="use_sim_time" value="true"/>
      <!-- Static transtorm -->
       
      <node pkg="rosbag" type="play" name="rosbag_play_node"
          args="--clock $(arg bag_file)" >
      </node>
  
      <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_node">
        <remap from="trajectory" to="autolabor_odom" />
        <param name="target_frame_name" type="string" value="/map" />
        <param name="source_frame_name" type="string" value="/base_link" />
        <param name="trajectory_update_rate" value="10" />
        <param name="trajectory_publish_rate" value="10" />
      </node>
  
    </group>

      <!--velodyne launch-->
    <!--include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="frame_id" default="velodyne" />
        <arg name="device_ip" default="" />
        <arg name="max_range" default="100.0" />
        <arg name="min_range" default="0.4" />
        <arg name="rpm" default="600.0" />
        <arg name="gps_time" default="false" />
        <arg name="laserscan_resolution" default="0.007" />
    </include -->
  
 
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_map_publish" output="screen"
       args="$(env HOME)/map/test.pcd">
          <param name="frame_id" value="map" />
          <param name="interval" value="0.5" /> 
          <remap from="cloud_pcd" to="points_map" />
    </node>
    <!--ndt matching-->
    <include file="$(find autolabor_navigation_launch)/launch/localization_lab314.launch">
      </include>

    <!--pointcloud to laserscan -->
    <include file="$(find autolabor_navigation_launch)/launch/pointcloud2_to_laserscan.launch">
    </include>


    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find autolabor_navigation_launch)/one_laser_navigation_param/move_base_params.yaml" command="load" />
      <!--costmap-->
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find autolabor_navigation_launch)/navigation_param/global_costmap_params.yaml" command="load" />
      <!--path plan-->
      <rosparam file="$(find autolabor_navigation_launch)/one_laser_navigation_param/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>
      <rosparam file="$(find autolabor_navigation_launch)/one_laser_navigation_param/teb_local_planner_params.yaml" command="load" ns="TebLocalPlannerROS"/>
  </node>
  
     <!--launch rviz-->
    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_localizer)/rviz/ndt_matching.rviz" /-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autolabor_navigation_launch)/rviz/navigation.rviz" />

     
  </launch>