<launch>
  <arg name="debug" default="true"/>
  <arg name="bag_file" default="$(env HOME)/bag/test_slow.bag"/>

  <param name="robot_description" textfile="$(find autolabor_description)/urdf/autolabor_pro1.urdf" />
  <node pkg="tf" type="static_transform_publisher" name="world_map" args=" 0 0 0 0 0 0 world map 1"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <group if="$(arg debug)">
      <!-- <param name="use_sim_time" value="false"/> -->
        <!-- Static transtorm -->
         
      <node pkg="rosbag" type="play" name="rosbag_play_node"
            args="--clock $(arg bag_file)" >
      </node>
  </group> 

  <include file="$(find hector_mapping)/launch/mapping_default.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autolabor_navigation_launch)/rviz/ndt_mapping.rviz" />


</launch>