<robot name="autolabor_description">

  <link name="velodyne">
    <visual>
      <origin xyz="0.0 0.0 1.5" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>


  <link name="imu_link">
    <visual>
      <origin xyz="0.0 0.0 1.4" />
      <geometry>
        <box size="0.035 0.035 0.015" />
      </geometry>
      <material name="black" />
    </visual>
  </link>


  <link name="base_link">
    <visual>
      <origin
      xyz="-0.363 0.3085 0.2883"
      rpy="0. 1.57 -1.57" />
      <geometry>
        <mesh
          filename="package://autolabor_description/meshes/autolabor_pro1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.96 0.81 0.36 1" />
      </material>
    </visual>
  </link>

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="velodyne_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="velodyne" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>





</robot>
